@model IEnumerable<RailroadTransport.Models.Type>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h3>Распродажа книг</h3>
    <table>
        <tr class="header">
            <td><p>Номер типа поезда</p></td>
            <td><p>Название типа поезда</p></td>
            <td></td>
        </tr>
        @foreach (var t in Model)
        {
            <tr>
                <td><p>@t.TypeId</p></td>
                <td><p>@t.NameOfType</p></td>
            </tr>
        }
    </table>
</div>